name: Run tests

on:
  push:
    branches:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get update -qy
          sudo apt-get install python3-vtk9
          python -m pip install --upgrade pip
          pip install .[tests]

      - name: Test with pytest
        run: |
          pytest -v --junitxml=report.xml --durations=20 tests/

      - name: Report test results
        uses: mikepenz/action-junit-report@v2
        if: always()
        with:
          report_paths: "**/report.xml"
